.cadastro {
    display: flex;
}
.cadastro > div {
    flex: 1;
    height: 100vh;
}
.cadastro img {
    width: 80%;
    height: 100%;
    object-fit:cover;
}
.cadastro form {
    padding: 10px;
}
#botao{
    background-color: rgb(230, 4, 4);
    color: wheat;
    border-color: aliceblue;
}