.telalogin {
    text-align: center;
}
.form-control{
    text-align: center;
    width: 40%;
    display: block;
    margin: 0 auto;
}
.inicio{
    background-image: url('596343.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
#textcodar{
    color:white;
    opacity: 100%;
    text-decoration:solid;
}
#botao{
    background-color: rgb(230, 4, 4);
}